body{

font-family:Arial;
text-align:center;
background:#f4f4f4;

}

input{

padding:10px;
margin:6px;
width:200px;

}

button{

padding:10px;
background:black;
color:white;
border:none;

}

a{

display:block;
margin:12px;
font-size:18px;

}
